.admin-container {
   width: 100vw;  /* Sayfanın tamamını kaplasın */
   height: 750px; /* Tüm ekranı kaplasın */
   margin: 0;      /* Kenar boşluklarını kaldır */
   padding: 0;
   border: none;   /* Çerçeveyi kaldır (isteğe bağlı) */
   background: #eee;
}

.dashboard-width{
   width: 270px;
}
